/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #2c5282, #2b6cb0);
  font-family: 'Poppins', sans-serif;
  overflow: hidden; /* supaya tidak muncul scroll */
}

/* Kontainer utama */
.auth-container {
  display: flex;
  justify-content: center; /* tengah horizontal */
  align-items: center; /* tengah vertikal */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #2c5282, #2b6cb0);
}

/* Card login */
.auth-card {
  background-color: rgba(43, 76, 126, 0.95);
  color: white;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Judul */
.auth-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* Label & Input */
.auth-card label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  outline: none;
}

/* Tombol Login */
.auth-card button {
  width: 100%;
  background-color: #ff7043;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background-color: #f4511e;
}

/* Footer (link register) */
.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer a {
  color: #ffb74d;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}

/* Login Admin Warna Berbeda */
.admin-login {
  background: linear-gradient(135deg,#2c5282, #2b6cb0);
}

.admin-login .auth-card {
  background-color: rgba(43, 76, 126, 0.95);
  color: white;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid #555;
}

.admin-login .auth-card button {
  background-color: #ff7043;
}

.admin-login .auth-card button:hover {
  background-color: #f4511e;
}
